.image-slider {
  --image-slider-container-height: 500px;
  --image-slider-container-width: 1000px;
  --button-background-color: rgba(0, 0, 0, 0.8);
  --button-hover-background-color: rgba(64, 64, 64, 0.8);
  --button-active-background-color: rgba(127, 127, 127, 0.8);

  position: relative;

  height: var(--image-slider-container-height);
  width: var(--image-slider-container-width);

  font-family: Arial, Helvetica, sans-serif;

  background-color: black;
}

.image-slider-button {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  height: 50px;
  width: 50px;
  border-radius: 50%;

  background-color: var(--button-background-color);
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.image-slider-button:hover {
  cursor: pointer;

  background-color: var(--button-hover-background-color);
}

.image-slider-button:active {
  background-color: var(--button-active-background-color);
}

.previous-slide-button {
  left: 25px;
}

.next-slide-button {
  right: 25px;
}

.image-container {
  display: inline-block;
  position: relative;
  overflow: hidden;

  height: var(--image-slider-container-height);
  width: var(--image-slider-container-width);
}

.image-slide {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  object-fit: contain;
  opacity: 0;
  transition: 0.4s;
}

.visible {
  opacity: 1;
}

.slide-indicator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  position: absolute;
  bottom: 0;

  /* background-color: var(--button-background-color); */

  width: 100%;
  height: 50px;
}

.slide-indicator-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 24px;
  width: 24px;

  border-radius: 50%;

  font-size: 12px;
  font-weight: bold;
  background-color: var(--button-background-color);
  color: white;
}

.slide-indicator-button:hover {
  cursor: pointer;
  background-color: var(--button-hover-background-color);
}

.slide-indicator-button:active {
  background-color: var(--button-active-background-color);
}

.slide-indicator-button.active {
  background-color: var(--button-active-background-color);
}
